/* General Reset to ensure consistent styling across different browsers */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(247, 247, 247); /* Light gray background */
    font-family: 'Noto Sans', sans-serif;
    color: #000000; /* Default black text */
}

/* Enhance font rendering on different platforms */
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

/* Remove default link styles, keeping color inheritance */
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

/* Change link color on hover */
a:hover {
    color: rgb(228, 226, 221); /* Muted hover color for links */
}

/* Banner styling */
.banner {
    background-color: rgb(36, 35, 35); /* Dark gray background for banner */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Center the banner items */
.banner-items {
    padding: 10px;
    display: flex;
    align-items: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

/* Flexbox container for buttons on the left and right of the banner */
.left-buttons, .right-buttons {
    display: flex;
    gap: 10px; /* Spacing between buttons */
}

/* Logo container for aligning and setting logo size */
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px; /* Fixed width for the logo container */
}

/* Logo styling */
.logo {
    max-width: 100%; /* Ensure logo fits within its container */
    height: auto;
}

/* Button styling within the banner */
.banner-button {
    display: inline-block;
    padding: 12px 16px !important;
    background-color: rgba(246, 141, 39, 1); /* Vibrant orange button */
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

/* Darken button on hover */
.banner-button:hover {
    background-color: #e67e22; /* Darker orange on hover */
}

/* Ensure button text remains white */
.banner-button a {
    color: white;
}

/* Dropdown Menu */
.dropdown {
    position: relative;
}

/* Dropdown button style inside banner */
.dropdown .banner-button {
    padding: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

/* Hidden dropdown content */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #eb870d; /* Muted orange background */
    min-width: 120px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    z-index: 1;
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding: 8px 10px;
}

/* Dropdown links styling */
.dropdown-menu a {
    color: white;
    padding: 8px 10px;
    display: block;
}

/* Dropdown link hover effect */
.dropdown-menu a:hover {
    background-color: #ff6f00; /* Lighter orange for hover */
}

/* Show dropdown menu on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Info Box for main content area */
.info-box {
    font-family: "Noto Sans", sans-serif;
    font-weight: 300;
    max-width: 80%;
    margin: 3% auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
    background-color: #fff; /* White background */
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.10); /* Subtle shadow */
}


/* Footer styling */
.footer {
    background-color: rgb(36, 35, 35); /* Dark gray background */
    width: 100%;
    padding: 20px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    text-align: center;
}

/* Footer heading styling */
.footer h3 {
    margin-bottom: 10px;
    color: #ffffff; /* White text */
}

/* Footer sections for location, contact, opening hours */
.footer .location, 
.footer .contact, 
.footer .opening-hours {
    color: #ffffff;
    display: inline-block;
    vertical-align: top;
    margin: 0 5%;
}

/* Copyright Footer */
.copyright-footer {
    background-color: #ffffff; /* White background */
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-family: "Noto Sans", sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    font-size: smaller;
    color: #000000; /* Black text for contrast */
    margin-bottom: 0 !important;
}

/* Footer opening hours font size adjustment */
.opening-hours p {
    font-size: 80%;
}

/* Media Query for responsiveness on smaller screens */
@media (max-width: 768px) {
    .banner {
        flex-direction: column;
        align-items: center;
    }

    .left-buttons, .right-buttons {
        margin-bottom: 10px;
    }
}
